-- Comprehensive query showing vote data and calculated amounts
SELECT 
    scenario_key,
    -- Vote counts
    too_low,
    just_right,
    too_high,
    (too_low + just_right + too_high) as total_votes,
    count,
    
    -- Amount totals
    total_amount,
    too_low_amount,
    just_right_amount,
    too_high_amount,
    
    -- Calculated averages per vote type
    CASE 
        WHEN too_low > 0 THEN ROUND(too_low_amount::numeric / too_low, 0)
        ELSE 0 
    END as avg_too_low_amount,
    CASE 
        WHEN just_right > 0 THEN ROUND(just_right_amount::numeric / just_right, 0)
        ELSE 0 
    END as avg_just_right_amount,
    CASE 
        WHEN too_high > 0 THEN ROUND(too_high_amount::numeric / too_high, 0)
        ELSE 0 
    END as avg_too_high_amount,
    
    -- Overall average
    CASE 
        WHEN (too_low + just_right + too_high) > 0 
        THEN ROUND(total_amount::numeric / (too_low + just_right + too_high), 0)
        ELSE 0 
    END as overall_avg_amount,
    
    -- Vote distribution percentages
    CASE 
        WHEN (too_low + just_right + too_high) > 0 
        THEN ROUND((too_low::numeric / (too_low + just_right + too_high)) * 100, 1)
        ELSE 0 
    END as too_low_percent,
    CASE 
        WHEN (too_low + just_right + too_high) > 0 
        THEN ROUND((just_right::numeric / (too_low + just_right + too_high)) * 100, 1)
        ELSE 0 
    END as just_right_percent,
    CASE 
        WHEN (too_low + just_right + too_high) > 0 
        THEN ROUND((too_high::numeric / (too_low + just_right + too_high)) * 100, 1)
        ELSE 0 
    END as too_high_percent,
    
    created_at,
    updated_at
FROM votes 
WHERE (too_low + just_right + too_high) > 0
ORDER BY (too_low + just_right + too_high) DESC, total_amount DESC;