-- Query to see scenarios with most votes
SELECT 
    scenario_key,
    too_low,
    just_right,
    too_high,
    (too_low + just_right + too_high) as total_votes,
    count,
    total_amount,
    too_low_amount,
    just_right_amount,
    too_high_amount,
    created_at,
    updated_at
FROM votes 
ORDER BY (too_low + just_right + too_high) DESC, count DESC
LIMIT 20;
